<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue</title>
    <style>
      .mb-5 {
        margin-bottom: 0.5rem
      }
      .mb-3 {
        margin-bottom: 0.3rem
      }
    </style>
  </head>
  <body>
    <div id="app">

      <div class="mb-5">
        <input class="url" type="text" v-model="url" />
      </div>

      <div class="mb-5">
        <input class="kataKunci" type="text" v-model="kataKunci" />
        <button class="bersihkan" @click="bersihkan">Bersihkan</button>
      </div>

      <div class="mb-5">
        <button class="pertama" @click="navigasi('first')" :disabled="!paginasi['first']">
          First
        </button>
        <button class="sebelumnya" @click="navigasi('prev')" :disabled="!paginasi['prev']">
          Prev
        </button>
        <button class="selanjutnya" @click="navigasi('next')" :disabled="!paginasi['next']">
          Next
        </button>
        <button class="terakhir" @click="navigasi('last')" :disabled="!paginasi['last']">
          Last
        </button>
      </div>

      <div class="total mb-5">Total Hasil: {{ paginasi.total }}</div>
      <div class="halaman mb-5">Halaman ke: {{ paginasi.page }}</div>

      <ul class="daftar">
        <li v-for="(hasil, i) in daftarHasil" :key="i" class="mb-3">
          <span v-html="hasil.text"></span>
          <a :href="`${url}&t=${hasil.start}s`" target="_blank">Youtube</a>
        </li>
      </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../utils/index.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          url: 'https://www.youtube.com/watch?v=klnvttPfOUM',
          kataKunci: '',
          daftarHasil: [],
          paginasi: {
            first: null,
            last: null,
            prev: null,
            next: null,
            total: 0,
            page: null
          }
        },
        watch: {
          kataKunci: pDebounce(async function tanganiKataKunci(kataKunci) {
            if (kataKunci && kataKunci.length >= 3) {
              await this.cari(kataKunci, this.url)
            } else {
              this.bersihkanHasilDanPaginasi()
            }
          }, 250)
        },
        methods: {
          async cari(kataKunci, url, paginasi) {
            try {
              const respon = await fetch(
                paginasi
                  ? paginasi
                  : `https://cari-teks-video-api.vercel.app/api/search?q=${kataKunci}&url=${encodeURIComponent(
                      url
                    )}`
              ).then(_ => (_.ok ? _.json() : []))

              this.daftarHasil = respon.data
              this.paginasi.first = respon.first
              this.paginasi.last = respon.last
              this.paginasi.prev = respon.prev
              this.paginasi.next = respon.next
              this.paginasi.total = respon.total
              this.paginasi.page = respon.page
            } catch (error) {}
          },
          async navigasi(type) {
            if (!this.paginasi[type]) {
              return
            }
            await this.cari(this.kataKunci, this.url, this.paginasi[type])
          },
          bersihkan() {
            this.kataKunci = ''
            this.bersihkanHasilDanPaginasi()
          },
          bersihkanHasilDanPaginasi() {
            this.daftarHasil = []
            this.paginasi = {
              first: null,
              last: null,
              prev: null,
              next: null,
              total: 0,
              page: null
            }
          }
        }
      })
    </script>
  </body>
</html>
